footer {
    margin-top: -180px;
    margin-left: 180px;
   background-color: lightblue;
   width: 1140px;
   display: flex;
   border-radius: 20px;
}
#company {
    clear: both;
    
    text-align: left;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: inline-flex;
}
#Icon{
    margin-left: 350px;
    display: inline-flex;
    margin-top: 90px;
}
h3{
    font-size: 18px;
    color: darkgrey;
}
#IconPreviewImg{
    height: 50px;
    width: 50px;
    margin-left: 30px;
}