*{
    margin-top:0px;
    margin-left: 0px;
    text-align: center;
}


ul{
    margin-left: 100px;
}
#HeaderMenuBar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 1900px;
    display: flex;
    align-items: center;
    background: #ffffff;
    opacity: 90%;
}
.LogoImg{
    width: 120px; 
    margin-left: 120px;
    margin-right: 110px;

}
.Logo{
    width: 180px; 
    margin-left: 60px;
    margin-right: 340px;

}

li{
    display: inline-flex;

    height: 100%;

    vertical-align: top;
}

a{
    color: #1e1e1e;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    margin-right :340px;
    text-decoration: none;
 }

#HeaderBannerImg{
    height: 800px;
    width: 1900px;
    margin-top: 0px;
    margin-left: 0px;
}
.Login{
    width: 120px; 
    float:right;
   }
   
   p{
    clear:right;
   }