.EventPreview{
    display: flex;
    margin-bottom: 230px;
}
#EventPreview1{
    margin-left: 180px;
}
#EventPreviewImg{
    width: 1140px;
    height: 600px;
    border-radius: 50PX;
}
.Event{
    margin-bottom:400px;
}
