*{
    margin-top:0px;
    margin-left: 0px;
    text-align: center;
}


.all{
    width: 1900px; 
    margin-left: 250px;
    margin-right: 350px;

}
#HeaderMenuBar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 1900px;
    display: flex;
    align-items: center;
    background: #ffffff;
    opacity: 90%;
}
.LogoImg{
    margin-left: 130px;
    margin-right: 40px;

}
.Logo{
    margin-left: 100px;
    margin-right: 340px;

}

li{
    text-decoration: none;
    display: inline-block;
    /*float: left;*/
}
a{
    color: #1e1e1e;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    margin-right : 350px;
    text-decoration: none;
}

#HeaderBannerImg{
    height: 350px;
    width: 1500px;
    margin-top: 30px;
    margin-left: 200px;
}